@font-face {
  font-family: "Default";
  src: url("assets/fonts/SF-Pro-Text-Regular.otf");
}

@font-face {
  font-family: "Rounded";
  src: url("assets/fonts/SF-Compact-Rounded-Bold.otf");
}

html, body {
  margin: 0;
  padding: 0;
  background-color: #EBEBEB;
  font-family: "Default";
}

#main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  width: 100%;
  height: 100%;
  position: relative;
}

.step {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.prompt {
  top: 0;
  left: 0;
  position: absolute;
  padding: 20px;
}

.range {
  font-family: "Rounded";
}

.result {
  font-size: 60px;
  font-family: "Rounded";
}

.button {
  border: none;
  outline: none;
  text-decoration: none;
  font-family: "Rounded";
}

.next-button {
  background-color: #B7B7B7;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 14px;
}

.next-button:hover {
  cursor: pointer;
}

.form-button {
  bottom: 0;
  right: 0;
  position: absolute;
  margin: 20px;
}